* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
}

body {
  background-image: url('../img/start-page-background.png');
  /*background-image: url('../img/game-background.jpg');*/


  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  background-attachment: fixed;
  height: 100vh;
  color: #ffffff;
  font-family: 'Arial', sans-serif;

  transition: background-image 4000ms;
}

.main-first {
  transition: margin-top 300ms, opacity 1000ms;
}

.main-second {
  display: none;
  /*opacity: 0;*/
  opacity: 1;
  /*transition: opacity 800ms;*/
  /*transition: margin-top 1000ms;*/
}

h1.name-of-game {
  font-size: 5vw;
  margin-bottom: 5vw;
}

h3.game-rules {
  font-size: 3vw;
  margin-bottom: 5vw;
}

section.start-page-main-section {
  width: 45vw;
  margin: 0 auto;
  margin-top: 7.5vw;
  text-align: center;
}

section.start-page-main-section:nth-child(1) {
  margin-bottom: 30vw;
}

section.start-page-main-section:nth-child(2) {
  display: none;
  width: 55vw;
}

div.block-input-player-name {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5vw;
  width: 25vw;
  margin: 0 auto;
  padding: 2.5vw 0;
}

div.block-game-rules {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5vw;
  width: 50vw;
  margin: 0 auto;
  padding: 2vw;
}

h3.h3-player-name {
  font-size: 1.6vw;
  margin-bottom: 1.5vw;
}

input#username {
  width: 20vw;
  height: 2.2vw;
  margin-bottom: 2.5vw;
  border: 0.05vw solid #cccccc;
}

input.submit {
  width: 15vw;
  height: 2.75vw;
  border-radius: 0.25vw;
  border: 0.05vw solid #cccccc;
  background-color: #ffffff;
  font-size: 1.1vw;
}

p.rules {
  text-align: left;
  font-size: 1.2vw;
  margin-bottom: 6vw;
}

input.submit-rules {
  width: 20vw;
  height: 2.3vw;
}

img.submarine {
  width: 8.2vw;
  height: auto;
  position: relative;
  left: -8.2vw;
  transition: left 1700ms;
}

div.submarine-container {
  position: absolute;
  top: 40.5vw;
  left: 0;
  width: 100vw;
  overflow: hidden;
}


header.game-header {
  width: 100vw;
  height: 5vw;
  font-size: 2vw;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333333;
  font-weight: bold;
  padding: 1.2vw 3vw;
  margin-top: -5vw;
  transition: margin-top 1000ms;


}

li.header-list-item {
  display: inline-block;
}

li.header-list-item:nth-child(1) {
  margin-left: 2vw;
  width: 20vw;
  float: left;
}

li.header-list-item:nth-child(2) {
  width: 8vw;
  margin-left: 22vw;
}

li.header-list-item:nth-child(3) {
  width: 15vw;
  float: right;
}

img.recurring {
  width: 1.4vw;
  height: auto;
}

.game-field {
  height: 89vh;
  border: 1px solid red;
}


.js-fish {
  width: 9vw;
  height: auto;
  position: relative;
  transition: left 1000ms, top 1000ms;
}